.parent{
    display: flex;
    height: 100%;
    width: 100%;
}
.main{
    display: flex !important;
}
.card{
    width: 600px;
    height: 760px;
    border-radius: 10px;
}
.logo{
    height: 100px;
    width: 50px;
}
span:hover{
    background: skyblue;
    cursor: pointer;
}
