<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button color="primary" (click)="drawer.toggle()"><i class="material-icons">
            dehaze
        </i></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div fxLayout="column" fxLayoutGap="10" style="width: 160px">
            <div fxLayout="row">
                <button mat-raised-button color="primary" routerLink="/dashboard">Dashboard </button>
            </div><div fxLayout="row">
                <button mat-raised-button color="primary" routerLink="/products">Product </button>
            </div><div fxLayout="row">
                <button mat-raised-button color="primary" routerLink="/cart">My Cart </button>
            </div>
        </div>
    </mat-drawer>
    <div id="mySidebar" class="sidebar">
        <div >
            <button class="closeButton"  (click)="closeNav()">close</button>
        </div>
        <div style="margin-bottom: 30px">
            <i class="fa fa-shopping-cart" style="font-size:26px; margin-left: 10px">{{" "}}{{count}}{{" Items"}}</i>
        </div>

        <div *ngFor="let item of cart;let i = index" >

            <div *ngIf="item.count" class="card">
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div fxLayout="column">
                        <div fxLayout="row" class="buttonrow">
                            <button class="button1" (click)="addItem(i)"><img src="./assets/up-arrow.png"></button>
                        </div>
                        <div fxLayout="row">
                            <button class="button1" (click)="deleteItem(i)"><img src="./assets/down-arrow.png"></button>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <img src="{{products[i].src}}" style="height: 50px; width: 50px; padding-left: 10px">
                    </div>
                    <div fxLayout="column" fxFlex="100" class="text">

                        <div class="text">
                            {{products[i].name}} <br> {{item.count}}</div>
                    </div>
                    <div fxLayout = "column" >
                        <a> <button class="button3" (click)="deleteProduct(i)" ><span>x</span></button></a>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="main" id="main" fxLayout="column" fxLayoutGap="20px">

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center"><app-app-top></app-app-top></div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="20">
                <button mat-raised-button color="primary" routerLink="/addProducts">Add products to the list</button>
            </div>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div  fxFlex="100" *ngIf="showDatatable" >
                <app-generictable [dlfn]="delfn" [controlTitle]="controlTitle"  [arr]="arr" [columnTitle]="columnTitle" ></app-generictable>
            </div>
        </div>

    </div>
</mat-drawer-container>

